body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    margin: auto;
    background-image: url(images/barrel2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.menu1,
.menu2 {
    width: 100px;
    height: 100px;
    transition-property: width, height;
    transition-duration: 2s;
}

.menu1:hover,
.menu2:hover {
    width: 800px;
    height: 800px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: antiquewhite;
}

header>h1 {
    font-family: 'Allura';
    font-size: 700%;
    color: rgb(87, 9, 9);
}

.topnav {
    background-color: rgb(53, 46, 46);
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 0px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

a:hover {
    background-color: #555;
    color: white;
}

.pourer {
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    margin: auto;
    margin-top: 100px;
}

.cup {
    width: 200px;
    height: 200px;
    border: 5px solid #ccc;
    border-top: 0px;
    border-radius: 10px;
    line-height: 200px;
    text-align: center;
    color: #72091F;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.cup:before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: #F5B400;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40%;
    animation: fill 7s ease-in-out infinite;
}

@keyframes fill {
    from {
        top: 250px;
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        top: 100px;
        transform: translateX(-50%) rotate(360deg);
    }
}

input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input:hover,
.btn:hover {
    opacity: 1;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.icon-bar {
    position: fixed;
    top: 26%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    margin-top: 199px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
    transform: translateX(10px) rotate(360deg);
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.outside {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 41px;
    margin-left: -5%;
    margin-right: -5%;
}

#logo {
    justify-self: flex-start;
}

.menu {
    display: flex;
    overflow-x: auto;
    overflow-y: hide;
    align-items: space;
    flex-direction: row;
    height: 750px;
}

.menu_panel {
    margin: 2% 5% 0 5%;
    width: auto;
    height: 700px;
}

.lower_scroll {
    color: antiquewhite;
    overflow-x: scroll;
    margin-bottom: 2%;
    padding-bottom: 1%;
}


/* Banner wine glass animation */

.glass {
    margin-left: auto;
}

.head {
    position: relative;
    height: 100px;
    width: 200px;
    display: block;
    overflow: hidden;
    background-color: rgba(0, 222, 255, 0.3);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.stem {
    margin: 0 auto;
    height: 75px;
    width: 10px;
    background-color: rgba(255, 0, 0, 0.3);
    border-bottom: 2px solid rgb(179, 0, 0);
    border-radius: 0px 0px 5px 5px;
}

.base {
    margin: 0 auto;
    margin-top: -6px;
    width: 100px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.3);
}

.head .liquid {
    position: absolute;
    top: -60px;
    left: 0;
    width: 200px;
    height: 220px;
    background-color: rgba(255, 0, 0, 0.3);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 1s;
}

.head .liquid::after,
.head .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
    box-shadow: inset 0 0 6px rgba(255, 228, 202, 0.98), 0 0 30px rgba(228, 202, 202, 0.42), inset 0 0 12px rgba(242, 30, 30, 0.58), inset 0 0 22px rgba(242, 30, 30, 0.84), inset 0 0 38px rgba(242, 30, 30, 0.88), 0 0 60px rgb(242, 30, 30);
}

.head .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

.head .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

.head:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}